/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    font-family: 'Siemens Sans', Arial, Helvetica, sans-serif;
}

.title {
    font-weight: bold; 
    font-size: 3em; 
    
    display: block; 

    margin: 2vh 0;
}
