.edit-container {
    margin: auto;
    margin-top: 4vh;
    width: 40vw;
    text-align: left;
}

.edit-container mat-form-field{
    width: 100%;
}

.edit-container button {
    margin-right: 10px;
}

.title.variables {
    font-size: 2em;
}