<!DOCTYPE html>
<html>

<head>
    <title>Chucks MindSphere Python App</title>
    <meta http-equiv="content-type"
		content="text/html;charset=utf-8" />
	<meta name="Author" content="Chuck Elliott" />
	<meta name="Description" content="Test for using Python Web" />
</head>

<body>
    <h1>This Page will list your assets</h1>
    <table cellspacing="5px" cellpadding="10px" width="450em" border="2" summary="this table lists the various Elements related to creating lists">
            <caption>List Elements</caption>
            <thead>
                <tr>
                    <th>Asset Name</th>
                    <th>Description</th>
                    <th>AssetID</th>
                </tr>
            </thead>
            <tfoot></tfoot>
            <tbody>
            {% for student in students %}
            <tr>
                <td>{{ myAsset.AssetName }}</td>
                <td>{{ myAsset.Description }}</td>
                <td>{{ myAsset.AssetID }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
</body>