<div class="" ng-controller="TimeSeriesCtrl as ctrl">
    <div class="page-title">
        <div class="title_left">
            <h3>Timeseries Charts</h3>
        </div>

    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div ng-hide="hasRouteParams">
                    <div class="jumbotron">
                        <p>Variable is not selected.</p>
                        <p>Please go to 'Assets' page to select valid asset, aspect and variable values.</p>
                    </div>
                </div>
                <div class="ng-hide" ng-show="hasRouteParams">
                    <div class="x_title">
                        <h2>{{title}}</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-series="chartseries" chart-options="options"></canvas>
                        <datetime-range start="start" end="end" presets="presets" on-change="dateChangedByUser()"></datetime-range>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>